#tltoc{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}
#tltinf{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}
#cnt-c{
    background-color: rgb(224, 223, 223);
}
#txtc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}