
.cntcards {
    max-width: 300px; /* Define un ancho máximo para que las tarjetas no crezcan mucho */
    margin: 0 15px; /* Espaciado entre las tarjetas */
  }
#titulon{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
}
#tituloc{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 27px;
    font-style: normal;
    font-weight: bold; /* Negrita para los títulos */
  margin-bottom: 10px;
}
.textosc{
    text-align:center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
}
.cntcards{
    height: 200px;
    width: 300px;
    border: rgb(172, 172, 172) solid 2px;
    border-radius: 10px;
    margin: 10px;
    
}
#iconos{
    position:relative;
    margin: 10px;
}
#texton{
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-size: 25px;
    font-style: normal;
}